{
	"plugins": [
		[
			"module-resolver",
			{
				"alias": {
					"assets": "./src/assets",
					"components": "./src/components",
					"screens": "./src/screens",
					"lib": "./src/lib",
					"navigation": "./src/navigation",
					"store": "./src/store",
					"services": "./src/services",
					"styles": "./src/styles"
				}
			}
		]
	]
}