{
	"plugins": [
		[
			"module-resolver",
			{
				"alias": {
					"assets": "./src/assets",
					"components": "./src/components",
					"screens": "./src/screens",
					"lib": "./src/lib"
				}
			}
		]
	]
}